[submodule "deps/maliput"]
	path = deps/maliput
	url = https://github.com/stonier/maliput.git
	branch = stonier/bzlmod
[submodule "deps/maliput_malidrive"]
	path = deps/maliput_malidrive
	url = https://github.com/stonier/maliput_malidrive.git
	branch = stonier/bzlmod
[submodule "deps/maliput_drake"]
	path = deps/maliput_drake
	url = https://github.com/stonier/maliput_drake.git
	branch = stonier/bzlmod
